header {
  background: $white-color;
  border-bottom: 1px solid #ececec;
}



.header__container {
  display: flex;
  align-items: center;
  padding: 16px 0;

  @media screen and (min-width:768px) {
    padding: 0;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width:1200px) {
    width: 50%;
  }
}

.nav__list {
  display: none;

  @media screen and (min-width:768px) {
    padding-left: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }

  @media screen and (min-width:1200px) {
    padding-left: 0;
  }
}

.header-contacts__list {
  display: none;

  @media screen and (min-width:768px) {
    display: block;
    justify-content: flex-end;
    font-weight: 500;
    line-height: 16px;
    color: $secondary-color;
    width: 50%;
  }

  @media screen and (min-width:1200px) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media screen and (min-width:768px) {
  .nav__item {
    margin-right: 51px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;


    a {
      color: $primary-color;
      font-weight: 500;
      line-height: 1.14;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:active a,
    &:focus-within a,
    &:hover a {
      color: $accent-color;
    }

    a {
      &.current {
        color: $accent-color;
      }

      &::after {
        width: 100%;
        content: "";
        position: absolute;
        display: block;
        height: 4px;
        border-radius: 2px;
        bottom: -1px;
        background: $accent-color;
        transform: scaleX(0);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        // @media screen and (min-width:1200px) {
        //     bottom: -1px;
        // }
      }
    }

    &:active a::after,
    &:hover a::after,
    a.current::after {
      transform: scaleX(1);
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .header-contacts__item {

    color: $secondary-color;
    // margin-right: 30px;

    a {
      color: $secondary-color;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus-within a,
    &:hover a {
      color: $accent-color;
    }

    &:last-of-type {
      margin-right: 0;
    }

    // @media screen and (min-width:768px) {
    //     margin-bottom: 10px;
    // }

    @media screen and (min-width:1200px) {
      margin-right: 30px;
    }
  }

  .header-contacts__icon {
    margin-right: 10px;
    fill: $secondary-color;
  }
}