.backdrop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &.is-hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
  
      .modal {
        transform: scale(2);
      }
    }
}
  
.modal {
    width: 528px;
    min-height: 581px;
    border-radius: 4px;
    background-color: var(--white-color);
    position: relative;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:100px) and (max-width:480px) { 
    .modal {
        width: 320px;
    }
}


  
.close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 8px;
    top: 8px;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  
    &:focus, &:hover {
      fill: var(--accent-color);
    }
}
  
.modal__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 40px;
}

@media screen and (min-width:100px) and (max-width:480px) {
    .modal__form {
        margin-left: auto;
        margin-right: auto;
    }
}
  
.modal__form-title {
    margin-bottom: 12px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
}

@media screen and (min-width:100px) and (max-width:480px) {
    .modal__form-title {
        line-height: 1.15;
        text-align: center;
    }
    
}
  
.modal__form-field {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
  
.last {
    margin-bottom: 0;
}
  
.modal__field-name {
    color: var(--secondary-color);
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}
  
.modal__field-input {
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .01em;
    color: var(--primary-color);
    width: 100%;
    margin: 0;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:focus, &:hover {
      outline: 0;
      border-color: var(--accent-color);
    }
  
    &:focus ~ .modal__input-icon, &:hover ~ .modal__input-icon {
      fill: var(--accent-color);
    }
}
  
textarea {
    min-height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .01em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:focus, &:hover {
      outline: 0;
      border-color: var(--accent-color);
    }
}
  
.modal__field-input {
    &::-moz-placeholder, &:-ms-input-placeholder, &::placeholder {
      position: absolute;
      left: 15px;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: .01em;
      color: rgba(117, 117, 117, 0.5);
    }
}
  
.modal__form-btn {
    font-family: $mainFont;
    background-color: var(--accent-color);
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: .06em;
    color: var(--white-color);
    padding: 10px 52px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:focus, &:hover {
      color: var(--white-color);
      background-color: var(--btn-active);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    }
}
  
.modal__field-checkbox {
    padding-left: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
}
  
.field-checkbox:checked + .icon-checkbox {
    background-image: url(../images/icon-check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--accent-color);
    background-origin: border-box;
    border-color: var(--accent-color);
}
  
.modal__form-policy__label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-color);
}

@media screen and (min-width:100px) and (max-width:480px) {
    .modal__form-policy__label {
    font-size: 10px;
    line-height: 1.11;
}
}
  
.modal__form-policy__link {
    margin-left: 4px;
    color: var(--accent-color);
    text-decoration: underline;
}
  
.field-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
  
.icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
}
  
.modal__input-icon {
    position: absolute;
    top: 43%;
    left: 15px;
    transform: translateY(25%);
    display: inline-block;
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--primary-color);
}
  
.comment {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .01em;
    height: 40px;
    color: var(--primary-color);
    width: 100%;
    margin: 0;
    padding: 12px 42px 12px 15px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}