.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white-color;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  
  &:focus,
  &:hover {
    background-color: $accent-color;
  }

  &:focus .social-icon,
  &:hover .social-icon {
    fill: $white-color;
  }
}