.projects__filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

@media screen and (min-width:100px) and (max-width:480px) {
    .projects__filter-list {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 40px;
        grid-gap: 8px;
        grid-row-gap: 15px;
    }
}
  
.projects__filter-btn {
    font-family: $mainFont;
    border: none;
    background-color: var(--dirty-white-color);
    color: var(--primary-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: .03em;
    padding: 6px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.projects__filter-item {
    margin-right: 8px;
  
    &:last-of-type {
      margin-right: 0;
    }
}

@media screen and (min-width:100px) and (max-width:480px) {
    .projects__filter-item {
        margin-right: 0;
    }
}
  
.projects__filter-btn {
    &:focus, &:hover {
      cursor: pointer;
      background-color: var(--accent-color);
      color: var(--white-color);
      box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
    }
}
  
.projects__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media screen and (min-width:100px) and (max-width:480px) {
    .projects__list {
        justify-content: center;
        align-items: center;
    } 
}
  
.projects__list-item {
    width: 370px;
    background: #fff;
    border: 1px solid #eee;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.item-overlay {
    position: relative;
    overflow: hidden;
}
  
.img-overlay {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    // transform: translateY(100%);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.projects__list-item:hover .img-overlay {
    transform: translateY(-100%);
}
  
.img-overlay__descr {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--white-color);
}
  
.projects__list-item img {
    width: 100%;
}
  
.projects-item__descr {
    padding: 20px 24px;
}
  
.projects-item__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: .06em;
    color: var(--primary-color);
    margin-bottom: 4px;
}
  
.projects-item__filter {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0, 3em;
    color: var(--secondary-color);
}
  