.mobile-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    padding: 15px 10px 48px 40px;
    z-index: 999;

    transform: translateX(100%);
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-open {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 16px;
    background-color: transparent;
    color: $primary-color;
    border: none;
    margin-left: auto;
    cursor: pointer;
}

.menu-open:hover,
.menu-open:focus {
    fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
    .menu-open {
        display: none;
    }
}

.menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background-color: transparent;
    color: $primary-color;
    border: none;
    margin-left: auto;
    cursor: pointer;
}

.menu-close:hover,
.menu-close:focus {
    fill: var(--accent-color);
}

.mobile-menu-list__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-menu-list__link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;
}

.mobile-menu-list__link:focus,
.mobile-menu-list__link:hover {
    color: var(--accent-color);
}

.mobile-menu-list__link--current {
    color: var(--accent-color);
}

.mobile-menu-list__tell {
    display: block;
    margin-bottom: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
}

.mobile-menu-list__mail {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    margin-bottom: 64px;
}

.mobile-menu-list__social {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.mobile-menu-list__social-item {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
}

.mobile-menu-list__social-item:not(:first-child)::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
}



