.hero {
    padding: 200px 0;
    text-align: center;
}
  
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/orderoverlay.jpg) no-repeat (center / cover);
}
  
.hero__title {
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: .06em;
    text-align: center;
}

.hero__btn {
    font-family: $mainFont;
    background-color: var(--accent-color);
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: .06em;
    color: var(--white-color);
    margin-top: 30px;
    padding: 10px 32px 10px 32px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:focus, &:hover {
      color: var(--white-color);
      background-color: var(--btn-active);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    }
}
  