.team {
    background: $dirty-white-color;
    text-align: center;
}

.team__container-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 30px;

    @media screen and (min-width:1200px) {
        display: flex;
        flex-wrap: nowrap;
    }
}

.team__card {
    width: 100%;
    background: $white-color;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    border: transparent solid 1px;
    padding-bottom: 30px;

    &-img {
        width: 100%;

        @media screen and (min-width:768px) {
            width: 354px;
            
        }

        @media screen and (min-width:1200px) {
            width: 270px;
        }
    }

    @media screen and (min-width:768px) {
        width: 354px;
    }

    @media screen and (min-width:1200px) {
        width: 270px;
    }
}

.team__card-name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: $primary-color;
    text-align: center;
}

.team__card-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: $secondary-color;
}